dist/*
dist-demo/*
demo/dist/*
build/*
src//bundle.js
mapbox-token.js
.project
.idea
.DS_Store
*.zip
*.rar
TODO
_docs
src/winds/data/*.html
node_modules
npm-debug.log
.exit_code
*/bundle.js
*.DS_Store
src/dist
*json
envvars
app_cache/*
*.pyc
data/
